################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ScriptRefDemoCode/v15
/DiffPlex/obj
/.vs/
